<br><br><br><br><br><br>

<div>
    <span matBadge="1">By DeFault Above After</span>
</div>
<br><br><br>
<div>
    <span matBadge="1" matBadgePosition="above before">Above Before</span>
</div>
<br><br><br>
<div>
    <span matBadge="1" matBadgePosition="below after">Below After</span>
</div>
<br><br><br>
<div>
    <span matBadge="1" matBadgePosition="below before">Below Before</span>
</div>

<br><br><br>
<div>
<span matBadge="5" matBadgeSize="small" matBadgeColor="accent">size=small & color=accent</span>
</div>
<br><br><br>
<div>
    <span matBadge="5" matBadgeSize="medium" matBadgeColor="primary">This is By Default Size & color is primary</span>
</div>
<br><br><br>
<div>
    <span matBadge="5" matBadgeSize="large" matBadgeColor="warn">size=large & color=warn</span>
</div>
<br><br><br>
<div>
    <span matBadge="10"  matBadgeColor="warn" matBadgeOverlap="false">Not Overlapping with text</span>
</div>

<br><br><br>
<div>
    <span [matBadge]="val1" >Binding Value</span>
</div>
<br><br><br>
<div>
    <span [matBadge]="val2" [matBadgeHidden]="val2 == 0">Binding Value & Conditional Rendering</span>
</div >
