<div>

    <button mat-button>Button1</button>
    <button mat-raised-button>Button2</button>
    <button mat-flat-button>Button3</button>
    <button mat-stroked-button>Button4</button>

</div>

<br>
<br>
<br>

<div>
    <button mat-icon-button>ASB1</button>
    <button mat-fab>ASB2</button>
    <button mat-mini-fab>ASB3</button>
</div>

<br>
<br>
<br>

<div>
    <button color="accent" mat-raised-button >ASB4</button>
    <button color="warn" mat-raised-button >ASB5</button>
    <button color="primary" mat-raised-button >ASB6</button>
    <button disableRipple mat-raised-button>Ripple effect off</button>
</div>